asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.3
Django==4.1.2
django-replicated==2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==20.1.0
psycopg2==2.9.4
pycparser==2.21
PyJWT==2.6.0
pytz==2022.4
six==1.16.0
sqlparse==0.4.3
